/* .ant-btn-danger:hover {
  border-radius: 5px;
  background-color: #d94b4a;
  border-color: aliceblue;
  width: 85px;
}

.button {
  border-radius: 5px;
  background-color: #1f1f1f;
  border-color: aliceblue;
} */
