/* .ant-btn-danger:hover {
  border-radius: 5px;
  background-color: #d94b4a;
  border-color: aliceblue;
  width: 85px;
}

.button {
  border-radius: 5px;
  background-color: #1f1f1f;
  border-color: aliceblue;
} */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
